{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<ul>

					{% for categorie in categories %}

						{% if categorie.slug == "Entrees" %}
							<img src={{ categorie.imageUrl }} alt="{{ categorie.name }}"/>
						{% endif %}
					{% endfor %}
					<h1 class="text-center mt-10">Nos entrées :
					</h1>
					{% for entree in entrees %}

						<section class="container-fluid">
							<div class="row justify-content-center">
								<div class="col-md-6">
									<ol>
										<h5>Nom :</br>
									</h5>
									<h3 class="text-center mt-10">
										{{ entree.name }}</h3>
								</ol>
								<ol>
									<h5>Description :</br>
								</h5>
								<h5>{{ entree.description }}</h5>
							</ol>
							<ol>
								<h5>Prix :</br>
							</h5>
							<h3 class="text-center">
								{{ entree.price }}€</h3>
						</ol>
					</div>
				</div>
			</section>

		{% endfor %}
	</ul>
</div></div><div>{% endblock %}
